<ion-header [translucent]="true">
  <ion-toolbar>
    <main-nav #nav></main-nav>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding" style="padding: 0 !important;">
      <navbar></navbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-row style="margin-top: 5%">
          <ion-col class="ion-padding">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <!-- front content -->
                  <ion-list class="input-list">
                    <ion-row>
                      <ion-col class="ion-text-center titleCol">
                        <ion-label class="titleLabel g-bolder">{{'login' | translate}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <form [formGroup]="loginForm">
                      <ion-row class="input-row">
                        <ion-input formControlName="email" class="g-bold" type="email" placeholder="{{ 'email' | translate }}" clearInput>
                        </ion-input>
                      </ion-row>
                      <ion-row class="input-row g-bold">
                        <ion-input formControlName="password" class="g-bold" #loginPass dir="{{ '' | dir }}" type="password" placeholder="{{ 'password' | translate }}">
                        </ion-input>
                        <ion-icon *ngIf="loginPass.type == 'password'" color="medium" src="assets/icon/svg/eye-slash.svg" class="eyeIcon" (click)="changePassType(loginPass)">
                        </ion-icon>
                        <ion-icon *ngIf="loginPass.type == 'text'" color="success" src="assets/icon/svg/eye.svg" class="eyeIcon" (click)="changePassType(loginPass)">
                        </ion-icon>
                      </ion-row>
                      <ion-row style="margin-top: 16px;">
                        <ion-col class="ion-no-padding">
                          <ion-button mode="ios" color="light" class="ion-no-padding ion-no-margin" style="font-size: 1.2rem;max-width: 50%;margin: auto;" class="g-bolder" expand="block" (click)="checkLogin()">
                            {{'login'| translate}}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                    <ion-row style="margin-top: 16px;">
                      <ion-col class="ion-no-padding ion-text-center">
                        <ion-button mode="ios" expand="block" color="light" fill="clear" class="g-bolder" style="min-height:45px;font-size: 1.2rem;margin: auto;" (click)="toggleFlip(false)">
                          {{'dont_have_account_register'| translate}}
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </div>
                <div class="back">
                  <!-- back content -->
                  <ion-list class="input-list">
                    <ion-row>
                      <ion-col size="2" class="ion-text-center">
                        <ion-button fill="clear" class="g-bold" (click)="toggleFlip(true, registerForm)">
                          <ion-icon slot="icon-only" color="light" size="large" md="arrow-back-circle" ios="chevron-back-circle">
                          </ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col class="ion-text-center titleCol g-margin-auto">
                        <ion-label class="titleLabel g-bold" style="margin-inline-start: -6%;">{{'register' | translate}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <form [formGroup]="registerForm">
                      <ion-row class="input-row">
                        <ion-input formControlName="firstname" class="g-bold" type="username" inputmode="username" placeholder="{{ 'firstname' | translate }}" clearInput>
                        </ion-input>
                      </ion-row>
                      <ion-row class="input-row">
                        <ion-input formControlName="lastname" class="g-bold" type="username" inputmode="username" placeholder="{{ 'lastname' | translate }}" clearInput>
                        </ion-input>
                      </ion-row>
                      <ion-row class="input-row">
                        <ion-input formControlName="email" class="g-bold" type="email" placeholder="{{ 'email' | translate }}" clearInput>
                        </ion-input>
                      </ion-row>
                      <ion-row class="input-row g-bold">
                        <ion-input formControlName="password" class="g-bold" #pass dir="{{ '' | dir }}" type="password" minlength="6" maxlength="16" placeholder="{{ 'password' | translate }}">
                        </ion-input>
                        <ion-icon *ngIf="pass.type == 'password'" color="medium" src="assets/icon/svg/eye-slash.svg" class="eyeIcon" (click)="changePassType(pass)">
                        </ion-icon>
                        <ion-icon *ngIf="pass.type != 'password'" color="success" src="assets/icon/svg/eye.svg" class="eyeIcon" (click)="changePassType(pass)">
                        </ion-icon>
                      </ion-row>
                      <ion-row *ngIf="registerForm.controls.password.errors?.required && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" style="margin-bottom: 8px;">
                        <ion-col class="ion-no-padding">
                          <ion-label class="g-formErrorLabel">* {{'error_pass_required' | translate}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="registerForm.controls.password.errors?.minlength && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" style="margin-bottom: 8px;">
                        <ion-col class="ion-no-padding">
                          <ion-label class="g-formErrorLabel">* {{'error_pass_minlength' | translate}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row class="input-row g-bold">
                        <ion-input formControlName="confirm" class="g-bold" #confirmPass dir="{{ '' | dir }}" type="password" placeholder="{{ 'confirm_password' | translate }}">
                        </ion-input>
                        <ion-icon *ngIf="confirmPass.type == 'password'" color="medium" src="assets/icon/svg/eye-slash.svg" class="eyeIcon" (click)="changePassType(confirmPass)">
                        </ion-icon>
                        <ion-icon *ngIf="confirmPass.type != 'password'" color="success" src="assets/icon/svg/eye.svg" class="eyeIcon" (click)="changePassType(confirmPass)">
                        </ion-icon>
                      </ion-row>
                      <ion-row *ngIf="registerForm.errors?.passwordsMustMatch && (registerForm.controls.confirm.dirty || registerForm.controls.confirm.touched)" style="margin-bottom: 8px;">
                        <ion-col class="ion-no-padding">
                          <ion-label class="g-formErrorLabel">* {{'error_pass_match' | translate}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row style="margin-top: 16px;">
                        <ion-col>
                          <ion-button mode="ios" class="ion-no-padding ion-no-margin g-bold" expand="block" (click)="b2cRegister()">
                            {{'register'| translate}}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-list>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 100px;"></ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
